@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Jua;
  src: url('/src/Jua.ttf');
}

@font-face {
  font-family: Gaegu;
  src: url('/src/Gaegu.ttf');
}

.jua {
  font-family: Jua;
}

.gaegu {
  font-family: Gaegu;
}

.homeBackground {
  background: linear-gradient(176deg, #ffefef, #ffe1e1, #cca5a5, #ffcece);
  background-size: 800% 800%;

  -webkit-animation: GradientAnimation 20s ease infinite;
  -moz-animation: GradientAnimation 20s ease infinite;
  animation: GradientAnimation 20s ease infinite;
}

.gradient-text {
  @apply bg-gradient-to-b from-brownie from-50% to-sesame inline-block text-transparent bg-clip-text;
}

@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 71% 0%
  }

  50% {
    background-position: 30% 100%
  }

  100% {
    background-position: 71% 0%
  }
}

@-moz-keyframes GradientAnimation {
  0% {
    background-position: 71% 0%
  }

  50% {
    background-position: 30% 100%
  }

  100% {
    background-position: 71% 0%
  }
}

@keyframes GradientAnimation {
  0% {
    background-position: 71% 0%
  }

  50% {
    background-position: 30% 100%
  }

  100% {
    background-position: 71% 0%
  }
}